doctype 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/lib/external/LAB.js')
	body(id='body')
		header
			h1= title
		block content
		include includes/scripts